* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
  scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  font-size: 8pt;
  background-color: rgb(35, 33, 33);
  overflow-x: hidden;
}
a {
  cursor: ne-resize;
  text-decoration: none;
  color: #000;
}
a:hover {
  color: white;
}
/* Scrollbar always shown and style */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

section {
  /* border-bottom: 1px solid white; */
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  /*                   */
  position: relative;
  background-color: rgb(35, 33, 33);
  color: white;
  width: 100%;
  left: 0;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  font-size: calc(1rem + 1vw);
  overflow-y: hidden;
  overflow-x: hidden;
}
section::after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  margin-bottom: 20px;
}
.flex-end {
  position: absolute;
  right: 50%;
  bottom: 0;
  font-size: calc(1rem + 3vw);
}
.half-col {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100vh;
}
.quart-col {
  float: left;
  width: 25%;
  padding: 10px;
  height: 100vh;
}

/* Bookmark link hover efffect */
h2 a {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    rgba(235, 94, 94, 1) 50%
  );
  background-position: -0% 0;

  background-size: 200% auto;
  color: rgba(235, 94, 94, 1);
  text-decoration: none;
  transition: background-position 0.5s ease-out;
  mix-blend-mode: difference;
}
h2 a::before {
  background-position: -99.99% 0;
  mix-blend-mode: difference;
}
h2 a:hover {
  background-position: -99.99% 0;
  color: white;
}

/* design section style */
#myVideo {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100vw;
  max-height: 85vh;
}
#videocontent {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 5%;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  /* max-width: 90.5vw; */
  padding: 20px;
  font-size: calc(1rem + 1vw);
  max-width: 100vw;
  max-height: 30vh;
}
p.description {
  margin-bottom: 3%;
  font-size: calc(1rem + 0.5vw);
  word-wrap: break-word;
}

#designlink {
  font-size: calc(1.5vw);
  padding: 10px;
  margin-right: 2vw;
  margin-bottom: 1vw;
  border: none;
  background: white;
  color: black;
  cursor: ne-resize;
  float: left;
}

#designlink:hover {
  background: rgba(235, 94, 94, 1);
  color: white;
}

div.coding-projects {
  margin: auto;
  padding: 5vh 1vw;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100vw;
  height: 80vh;
  overflow: auto;
  white-space: nowrap;
  overflow-y: hidden;
}
.project {
  display: inline-block;
  margin: 5px;
  position: relative;
}
.project img {
  width: 70vh;
  height: 70vh;
}
.projectImg {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.projectContent {
  width: 70vh;
  height: 40%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  padding: 5vh;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
}
.project:hover .projectImg {
  opacity: 0.3;
}

.project:hover .projectContent {
  opacity: 1;
}

button {
  background-color: white;
  color: black;
  border: none;
  cursor: ne-resize;
  font-family: aktiv-grotesk-extended, sans-serif;
  padding: 5px;
}
button:hover {
  background-color: rgba(235, 94, 94, 1);
  color: white;
}

.aboutme {
  margin: auto;
  padding: 5vh 1vw;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100vw;
  height: 90vh;
  overflow: auto;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
}
.aboutmeImg {
  width: 40vw;
  height: auto;
  /* filter: grayscale(100%); */
}
li {
  font-size: 1.5vw;
  line-height: 1.4;
}
li a {
  color: rgba(235, 94, 94, 1);
}
li a:hover {
  background: rgba(235, 94, 94, 1);
  color: white;
}
ol {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.sublist {
  margin-top: 0.2rem;
}
