* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
  scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  font-size: 8pt;
}

section {
  /* border-bottom: 1px solid white; */
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  /*                   */
  position: relative;
  background-color: rgb(35, 33, 33);
  color: white;
  width: 100%;
  left: 0;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  font-size: calc(1rem + 1vw);
}
section::after {
  content: "";
  display: table;
  clear: both;
}
h1 {
  /* position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center; */
}
h2 {
  margin-bottom: 20px;
}
.flex-end {
  position: absolute;
  right: 50%;
  bottom: 0;
  font-size: calc(1rem + 3vw);
}
.half-col {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100vh;
}
.quart-col {
  float: left;
  width: 25%;
  padding: 10px;
  height: 100vh;
}

/* Bookmark link hover efffect */
h2 a {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    rgba(235, 94, 94, 1) 50%
  );
  background-position: -0% 0;

  background-size: 200% auto;
  color: rgba(235, 94, 94, 1);
  text-decoration: none;
  transition: background-position 0.5s ease-out;
  mix-blend-mode: difference;
}
h2 a::before {
  background-position: -99.99% 0;
  mix-blend-mode: difference;
}
h2 a:hover {
  background-position: -99.99% 0;
  color: white;
}

/* design section style */
#myVideo {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100vw;
  max-height: 85vh;
}
#videocontent {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 5%;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  /* max-width: 90.5vw; */
  padding: 20px;
  font-size: calc(1rem + 1vw);
}
p.description {
  margin-bottom: 5%;
  font-size: calc(1rem + 0.5vw);
}

#designlink {
  min-width: 200px;
  font-size: calc(1rem + 1.5vw);
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  float: right;
}

#designlink:hover {
  background: #ddd;
  color: black;
}

#coding-project {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100vw;
  min-height: 84vh;
  max-height: 85vh;
  background-color: white;
}
